html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    background-image: url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=853&q=80");
}
* {
    box-sizing: border-box;
}
h1 {
    font-size: 3rem;
    text-align: center;
    background-color: gray;
    border: 5px solid darkgray;
    width: fit-content;
}
.glossy-frame:before{
    content:'';
    position:absolute;
    width:130%;
    height:45%;
    top:-15%;
    right:-5%;
    background:rgba(255,255,255,0.3);
    background:
        linear-gradient(
        top,
        rgba(255,255,255,0.1),
        rgba(255,255,255,0.3)
        );
    ;
    transform:rotate(10deg);
    border-bottom-left-radius:200px 20px;
    border-bottom-right-radius: 200px 10px;
    border-top-right-radius:5px 100px;
}
.glossy-frame{
position: relative;
overflow: hidden;
border: 10px solid #fff;
box-shadow: 0 1px 4px #acacac, 0 0 0 1px #dadada;
width: 576px;
height: auto;
margin: 10% auto;
top: 20%;
}

.openBtn {
    display: flex;
    justify-content: left;
}
.openButton {
    border: none;
    border-radius: 5px;
    background-color: #1c87c9;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
}
.loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
    color: black;
}
.formPopup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
}
.formContainer {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
}
.formContainer input[type=text],
.formContainer input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
}
.formContainer input[type=text]:focus,
.formContainer input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}
.formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
}
.formContainer .cancel {
    background-color: #cc0000;
}
.formContainer .btn:hover,
.openButton:hover {
    opacity: 1;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #2A4747;
    transition: 0.3s;

    margin-bottom: 4rem;
    margin-left: 1rem;

    border-radius: 5px;
    width: 300px;
    height: 200px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #2F4F4F;
}
#container {
    margin-top: 60px;
    display: flex;
    flex-flow: row wrap;
}
.card p {
    padding-top: 0.5rem;
    padding-left: 1rem;
}

.btnRead {
	background-color: green;
	color: white;
	border: 1px;
	border-radius: 3px
}
.btnDel {
	background-color: red;
	color: white;
	border: 1px;
	border-radius: 3px; 
	margin-left: .5rem;
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
}
}

@media only screen and (max-width: 830px) {

    .container {grid-template-columns: 17.5% 31.25% auto;}
}